<div class="row" *ngIf="station">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4>{{station.name}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-6">
        <span class="badge {{getLevelAvailability()}}">
          {{station.available_bikes}}</span> vélos disponibles
      </div>
      <div class="col col-xs-6 text-right">
        <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true" routerLink="/city/{{currentCity}}"></i>
      </div>
    </div>
    <div>
      <agm-map [latitude]="station.position.lat" [longitude]="station.position.lng" [zoom]="17">
        <agm-marker [latitude]="station.position.lat" [longitude]="station.position.lng" [iconUrl]="'/assets/bikiniMapMarker.png'"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>