<app-navigation [link]="link" [country]="countrySelected" [city]="currentCity"></app-navigation>
<div class="row" *ngIf="station; else message">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4>{{station.name}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="badge {{getLevelAvailability()}}">
          {{station.available_bikes}}</span>  {{culture.availabilityLbl}}
      </div>
    </div>
    <div *ngIf="station.position">
      <agm-map [latitude]="station.position.lat" [longitude]="station.position.lng" [zoom]="17">
        <agm-marker [latitude]="station.position.lat" [longitude]="station.position.lng" [iconUrl]="'/assets/bikiniMapMarker.png'"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
<ng-template #message>
  <div class="row">
    <div class="col">
      <h3>{{culture.errorStation}}</h3>
      <h4>{{culture.messageErrorStation}}</h4>
      <i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true" routerLink="/"></i>
    </div>
  </div>
</ng-template>