<app-navigation [link]="''" [country]="countrySelected" ></app-navigation>

<app-country [currentCountry]="countrySelected"></app-country>

<div class="row" *ngIf="countrySelected">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th scope="col">{{culture.citiesLbl}}
            <i *ngIf="!cities" class="fa fa-refresh fa-spin "></i>
            <span class="sr-only">Loading...</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities" routerLink="/city/{{city.name}}" (click)="onSelect(city.name)">
          <td>{{city.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #chooseCountry>
  <div class="col">
    <h4>{{culture.countrySelectionLbl}}</h4>
  </div>

</ng-template>