@keyframes slidein {
    from {
        opacity: 0;
        transform : rotate(0deg);
    }
    to {
        opacity: 1;
        transform : rotate(360deg);
  }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
  }
}

.middle{
    top:8em;
}

h1{
    opacity: 0;
    animation-duration:500ms;
    animation-name: fadein;
    animation-delay: 500ms;
    animation-fill-mode: forwards; 
}

#logo{
    cursor: pointer;
    opacity: 0;
    animation-duration:1s;
    animation-name: slidein;
    animation-delay: 500ms;
    animation-fill-mode: forwards; 
}